@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    font-family: "Nunito", sans-serif;
}

.noScrollBar::-webkit-scrollbar {
    display: none;
}

.scrollBar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollBar::-webkit-scrollbar
{
	width: 9px;
	height: 6px;
	background-color: #F5F5F5;
}

.scrollBar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.1);
	background-color: #A67B5B;
}